body{
    width:100%;

}
.content-Wrapper{
    margin: 10px;
    height: 70vh;
}

.hulk-img{
    height: 70vh;
    left: 350px;
    position: fixed;
    z-index: 0;
}
.ironMan-img{
    margin-top: 200px;
    height: 50vh;
    position: fixed;
    left: 400px;
    z-index: 3;
}
.thor-img{
    height: 70vh;
    position: fixed;
    left: 650px;
    z-index: 2;
}
.captain-america-img{
    height: 70vh;
    left: 800px;
    position: fixed;
    z-index: 1;
}
.avengers-logo-img{
    height: 25vh;
    top: 500px;
    left: 650px;
    position: fixed;
    z-index: 4;  
}
.btn{
    color: darkgray;
}
